body{
    /* background-color: rgb(28, 28, 28); */
    background-color: rgb(30, 30, 30);
    color: white;
}

.navi-bar{
    background-color: rgb(33, 37, 41);
}

/* my photo */
.img{
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/* skills icon  */
.icon-centre{
    text-align: center;
    margin-top: 1rem;
    color: white;
}

/* contact part  */
.contact-icon{
    padding: 0.8rem;
    color: white;
}

a{
    color: black;
}

.contact-div{
    text-align: center;
    margin-top: 1.5rem;
    padding: 1rem;
}